
<%- include ("./partials/header.ejs") %>

<div class="centered-form">
    <h1>Sign Up</h1>
    <form action='/register' method="POST">
        <div class="form-element">
            <label for="username">Username: </label> 
            <input type="text" name="username" placeholder="Username">
        </div>
        <div class="form-element">
            <label for="password">Password: </label> 
            <input type="password" name='password' placeholder="Password">  
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
    
<%- include ("./partials/footer.ejs") %>

