<%- include ("../partials/header.ejs") %>
<div class="container centered-form">
    <h1>Create a new Campground</h1>
        <form action="/campground" method="POST">
            <div  class="form-element">
                <input class="form-control" type="text" placeholder="Camp Name" name="camp[name]">
            </div>
            <div  class="form-element">
                <input class="form-control" type="text" placeholder="Image URL" name="camp[image]">
            </div>
            <div class="form-element">
                <textarea class="form-control" placeholder="Description" name="camp[description]" rows=4></textarea>
            </div>
         
            <button type= "submit" >Submit</button>
         
        </form>
</div>


<%- include ("../partials/footer.ejs") %>
